pkgbase = updater
	pkgdesc = Desktop GUI for managing packages across multiple package managers
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Yiki21/PackageGet
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = mold
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libx11
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = polkit
	depends = wayland
	optdepends = cargo: manage globally installed Rust crates
	optdepends = composer: manage direct Composer global dependencies
	optdepends = dotnet-sdk: manage current-user .NET global tools
	optdepends = flatpak: manage Flatpak applications
	optdepends = go: manage globally installed Go tools
	optdepends = nix: manage an explicitly selected user profile
	optdepends = npm: manage global npm packages
	optdepends = pnpm: manage global pnpm packages
	optdepends = python-pipx: manage pipx applications
	optdepends = ruby: manage installed Ruby gems
	optdepends = snapd: manage Snap applications
	optdepends = uv: manage Python applications installed with uv tool
	optdepends = xdg-desktop-portal: native file and directory chooser integration
	options = !debug
	options = !lto
	source = updater-1.0.0.tar.gz::https://github.com/Yiki21/PackageGet/archive/refs/tags/Build-v1.0.0.tar.gz
	b2sums = SKIP

pkgname = updater
